# Build results
[Bb]in/
bin_publish/
[Oo]bj/
[Oo]ut/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
packages/

# Logs & temp
*.log
*.tmp
